<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}"/>
  <meta name="keywords" content="dailycal, Daily Californian, Daily Cal"/>
  <link rel='shortcut icon' href='http://www.dailycal.org/assets/uploads/2012/02/favicon.png'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:description" content="{{ site.description }}"/>
  <meta name="twitter:title" content="{{ site.title }}"/>
  <meta name="twitter:site" content="@dailycal"/>
  <meta name="twitter:domain" content="The Daily Californian"/>
  <meta name="twitter:image" content="{{ '/img/share_img.png' | prepend: site.baseurl }}"/>
  <meta name="twitter:creator" content="@dailycal"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.baseurl }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:image" content="{{ '/img/share_img.png' | prepend: site.baseurl }}"/>
  <meta property="og:site_name" content="The Daily Californian"/>
  <meta property="article:publisher" content="https://www.facebook.com/dailycal"/>
  <meta property="fb:admins" content="877855486"/>

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

  <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/d3.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/underscore.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/fa.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/bootstrap-select.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/typed.min.js' | prepend: site.baseurl }}"></script>
  <script src="//www.dailycal.org/google-analytics-js/" type="text/javascript"></script>
</head>
