<nav class="navbar navbar-dc">
<div class="container">
	<a href="http://www.dailycal.org/" class="navbar-brand">the Daily Californian</a>
    <ul class="nav navbar-nav float-lg-right">
        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/cs-gender/"><i class="fa fa-lg fa-facebook"></i></a></li>
    	<li class="nav-item"><a class="nav-link" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.dailycal.org%2Fcs-gender&via=dailycal&text=What%20does%20a%20hacker%20look%20like%3F&"><i class="fa fa-lg fa-twitter"></i></a></li>
    </ul>
</div>
</nav>