---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap",
  "dc",
  "graphic",
  "bootstrap-select"
;

.footnotes p {
  text-align: center;
  font-size: 0.8rem;
}

.top {
    background: #000;
    color: #fff;
    font-family: 'Cutive Mono', sans-serif;
    height: 100vh;
    padding-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 34em) {
      padding-top: 1rem;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      color: #ff0076;

      @media screen and (max-width: 34em) {
        font-size: 3rem;
      }
    }

    p {
      font-family: 'Cutive Mono', sans-serif;
      font-size: 1.5rem;

      @include media-breakpoint-down(md) {
        font-size: 1.25rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }

    p.teaser {
      color: #e6db74;
      margin-top: 10px;
    }

    a {
      color: #45ffff;
    }
  }

.container {
  .article {

    p {
      font-family: $font-family-serif;
    }

   h3 {
    font-family: 'Cutive Mono', sans-serif;
    color: #e6db74;
    background: black;
    padding: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
   }

   margin-bottom: 40px;
    
  }

  section p, section dl, .blockquote {
    text-align: left;
  }

  section {
    margin: 2em auto;
  }

  .year {
    font-family: sans-serif;
    margin-right: 0.5em;
    color: $gray-light;
  }

  .table .right {
    text-align: right;
  }

  // Graphics, sources
  p.graphic-title {
    font-family: sans-serif;
    font-weight: bold;
    max-width: 1000px;
  }

  p.caption {
    font-weight: 300;
    max-width: 700px;
    font-family: sans-serif;
    font-size: $font-size-xs;
    color: $gray-light;
  }
}


