---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap",
  "dc",
  "graphic",
  "bootstrap-select"
;

.graphic-top {
  margin-top: 15px;
  text-align: center;

  h1 {
    font-size: 3rem;

    @media screen and (max-width: 34em) {
      font-size: 2rem;
    }
  }

  .byline {
    font-size: 0.9rem;
  }
}

.graphic-container .row {
  margin: 20px auto;
}

.graphic-text {
  text-align: center;
  font-size: 20px;

  #pct-female-label {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 120px;
    font-weight: 600;
    font-size: 48px;
  }

  #total-count-label {
    display: inline-block;
    width: 50px;
    text-align: left;
  }

  span.female {
    background: #8dd3c7;
    padding: 8px 12px;
    border-radius: 4px;
  }

  #lecture-graphic {
    margin-top: 15px;
  }

  #seats polygon {
    fill: #fff;
  }

  @include media-breakpoint-down(sm) {
    .bootstrap-select {
      margin: 10px auto;
    }
  }

}

.footnotes p {
  text-align: center;
  font-size: 0.8rem;
}

.top {
    background: #000;
    color: #fff;
    font-family: 'Cutive Mono', sans-serif;
    height: 100vh;
    padding-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 34em) {
      padding-top: 1rem;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      color: #ff0076;

      @media screen and (max-width: 34em) {
        font-size: 3rem;
      }
    }

    p.teaser {
      color: #e6db74;
    }

    a {
      color: #45ffff;
    }

    p {
      font-family: 'Cutive Mono', sans-serif;
      font-size: $font-size-lg;

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }

  }

.container {
  .article {

    p {
      font-family: $font-family-serif;
    }

   h3 {
    font-family: 'Cutive Mono', sans-serif;
    color: #e6db74;
    background: black;
    padding: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
   }

   margin-bottom: 40px;
    
  }

  section p, section dl, .blockquote {
    text-align: left;
  }

  section {
    margin: 2em auto;
  }

  .year {
    font-family: sans-serif;
    margin-right: 0.5em;
    color: $gray-light;
  }

  .table .right {
    text-align: right;
  }

  // Graphics, sources
  p.graphic-title {
    font-family: sans-serif;
    font-weight: bold;
    max-width: 1000px;
  }

  p.caption {
    font-weight: 300;
    max-width: 700px;
    font-family: sans-serif;
    font-size: $font-size-xs;
    color: $gray-light;
  }
}


