---
layout: default
title: Seating Arrangements
---
<div class="container graphic-container">
  <div class="row graphic-top">
    <div class="col-md-8 offset-md-2">
      <h1>Seating Arrangements</h1>
      <p class="lead">What’s the gender breakdown of your department?</p>
      <p class="byline">By <a href="http://www.dailycal.org/author/schinoy">SAHIL CHINOY</a> &middot; November 14, 2016</p>

      <p>When you look around your class, how likely are you to find someone like you? We created a seating chart for one of the large lecture halls on campus, Wheeler Auditorium, and imagined what it might look like if everyone sitting down were, say, an <a href="#electrical-eng-computer-sci">Electrical Engineering and Computer Science</a> graduate or an <a href="#english">English</a> graduate</a>.</p>
      <p><b>Related story:</b> <a href="{{ site.baseurl }}/">What does a hacker look like?</a></p>
    </div>
  </div>

  <div class="row graphic-text">
    <div class="col-md-4 offset-md-4">
      <div class="alert alert-danger invisible" role="alert">
          Not enough data.
      </div>
    </div>
  </div>

  <div class="row graphic-text">
    <div class="col-md-12">
        <span id="pct-female-label" class="label btn"></span>
        &nbsp; of the &nbsp;
        <span id="total-count-label" class="label btn"></span>
        &nbsp;
        <select id="department-selector" class="selector"></select>
        &nbsp; graduates in &nbsp;
        <select id="year-selector" class="selector">
        </select>
        &nbsp; were &nbsp; <span class="btn label female">female.</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7" id="lecture-graphic">
      {% include wheeler.svg %}
    </div>
    <div class="col-md-5">
      <p style="text-align: center;">Least female in <span class="year-lbl"></span></p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Department</th>
            <th class="right">Pct. female graduates</th>
          </tr>
        </thead>
        <tbody id="least-female">
        </tbody>
        <tbody>
          <tr>
            <th style="text-align: center;" colspan="2">...</th>
        </tbody>
        <tbody id="most-female">
        </tbody>
      </table>
      <p style="text-align: center;">Most female in <span class="year-lbl"></span></p>
    </div>
  </div>
  <div class="row">
    
  </div>

  <div class="row footnotes">
    <div class="col-md-8 offset-md-2">
      <p>We've filled a random selection of the 767 seats on this chart based on the proportion of department graduates who identified as female. We excluded departments with fewer than 20 graduates.</p>
      <p>Data is from <a href="http://calanswers.berkeley.edu/">Cal Answers</a>. The analysis is available <a href="https://github.com/dailycal-projects/cs-gender/blob/master/cs_analysis.ipynb">here</a>.</p>
    </div>
  </div>
</div>

<script type="text/template" id="table-template">
  <% _.each(data, function(d) { %>
  <tr>
    <td><a href="#<% print(d['slug']) %>"><% print(d['dept']) %></a></td>
    <td class="right"><% print((d['femalePct']*100).toFixed(0)) %>%</td>
  </tr>
  <% }); %>
</script>

<script type="text/javascript">
/*
 * Convert arbitrary strings to valid css classes.
 * via: https://gist.github.com/mathewbyrne/1280286
 */
var classify = function(str) {
    return str.toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
}

// Global vars
var FEMALE_COLOR = '#8dd3c7';

// Get the data, format it and render the chart
d3.csv('{{ site.baseurl }}/csv/data.csv', function(data) {
  departments = {};
  slugs = {};
  years = {};

  data.forEach(function(d) {
    slug = classify(d['dept']);
    year = (parseInt(d['year'].split('-')[0]) + 1).toString();

    // Populate a crosswalk for slugs
      slugs[slug] = d['dept'];

    // Populate the years object
    years[year] = years[year] || [];
    years[year].push({
      'femalePct': d['female_pct'],
      'dept': d['dept'],
      'slug': slug,
    });

    departments[slug] = departments[slug] || {};
    departments[slug][year] = {
      'femalePct': d['female_pct'],
      'totalCount': +d['total_count']
    }
  });

  // Sort the years object
  _.each(years, function(val, key) {
    years[key] = _.sortBy(val, function(d) {
      return +d['femalePct'];
    });
  });

  // Populate department selector
  html = '';
  dept_list = _.sortBy(years[2016], function(d) { return d['dept'] })
  _.each(dept_list, function(d) {
    html += '<option value="'+ d['slug'] + '">' + d['dept'] + '</option>';
  });
  $('#department-selector')
    .html(html)
    .selectpicker({
      style: 'btn-secondary',
      size: 20,
      width: '300px',
      dropupAuto: false,
      liveSearch: true,
    });

  // Populate year selector
  html = '';
  for (i = 2016; i >= 1985; i--) {
    html += '<option>' + i.toString() + '</option>';
  }
  $('#year-selector')
    .html(html)
    .selectpicker({
      style: 'btn-secondary',
      width: '100px',
      dropupAuto: false,
    });

  // Render the chart
  if (location.hash) {
    render();
  } else {
    refresh();
  }
});

// Set up the event listeners
$('.selector').change(function(e) {
  refresh();
});
$(window).on('hashchange', function() {
  $('#department-selector').selectpicker('val', location.hash.slice(1));
  render();
});

var refresh = function() {
  var deptName = $('#department-selector').val();
  location.hash = classify(deptName);
  render();
}

var render = function() {
  // Get the department name from the hash
  var slug = location.hash.slice(1);
  // Update the selector
  $('#department-selector').val(slug);

  // Get the year from the selector
  var year = $('#year-selector').val();
  $('.year-lbl').html(year);

  // Populate the tables
  var template = _.template($('#table-template').html());
  var least_female_html = template({'data': _.first(years[year], 5)});
  $('#least-female').html(least_female_html);
  var most_female_html = template({'data': _.last(years[year], 5)});
  $('#most-female').html(most_female_html);

  try {
    var femalePct = departments[slug][year]['femalePct'];
    var totalCount = departments[slug][year]['totalCount'];

    // Update the labels
    $('#pct-female-label').html((femalePct * 100).toFixed(0) + '%');
    $('#total-count-label').html(totalCount);
    $('.alert').addClass('invisible');

    renderLectureGraphic({
        femalePct: femalePct
    });
  } catch(e) {
    // Not enough data for this department/year combination
    $('#pct-female-label').html('');
    $('#total-count-label').html('');
    $('.alert').removeClass('invisible');
    renderLectureGraphic({
        femalePct: 0
    });
  }
}

var renderLectureGraphic = function(config) {
  // Number of seats
  var numSeats = d3.select('#seats').selectAll('polygon')[0].length;
  var seats = _.range(numSeats);

  // Number to color
  var numSelectedSeats = Math.floor(config['femalePct'] * numSeats)
  var selectedSeats = _.sample(seats, numSelectedSeats)

  d3.select('#seats')
    .selectAll('polygon')
    .transition()
    .duration(750)
    .style('fill', function(d, i) { 
      if (selectedSeats.indexOf(i) > 0) {
        return FEMALE_COLOR;
      } else {
        return '#fff';
      }
    });
}
</script>